body{
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.heading{
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 3em auto 5em auto;
}
.heading button{
  width: 72px;
  height: 23px;
  font-family: 'Roboto', sans-serif;
  border: 2px solid #5555FF;
  border-radius: 4px;
  width: 175px;
  height: 34px;
  background-color: white;
}

.motto{
  display: flex;
}
.motto img{
  height: 48em;
  width: 49em;
}
.catchPhrase{
  align-self: center;
}
.motto h1{
  font-size: 64px;
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
  line-height: 79px;
  font-style: normal;
  margin: 0;
}
.motto p{
  width: 70%;
  color: #9B9B9B;
  margin: 3em 0;
}
.motto button{
  color: white;
  background-color: #5555FF;
  border: none;
  border-radius: 4px;
  padding: 12px 53px;
  font-size: 10px;
}
.catch1{
  color: #EDEDFA;
}
.catch2{
  color: #55E3FF;
}
.catch3{
  color:  #5555FF;
}

.aboutBezao{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  /* margin-top: 6em; */
  padding: 13em;
}
.aboutBezao h1{
      width: 60%;
      font-size: 70px;
      line-height: 70px;
      color: #5555FF;
      margin: 0;
      margin-right: 5em;
}

.aboutBezao p{
  font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    line-height: 23px;
    width: 97%;
    margin: auto
}

.bezcontent{
  display: flex;
  background-color: #5555FF;
  justify-content: space-between;
  height: 46%;

}
.bezcontent img{
    width: 106%;
    height: 100%;
}
.itCovers{
  background-color: #5555FF;
  color: white;
  width: 50%;
  /* margin: auto; */
}
.itCovers div{
  width: 61%;
  margin: auto;
  padding: 7em;
}
.itCovers h2{
  font-size: 55px;
}

.itCovers button{
  color: #5555FF;
  background-color: white;
  padding: 12px 53px;
  font-size: 10px;
  border: none;
  border-radius: 4px;
  margin-top:2em;
}

.language{
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 8em auto;
}
.language h2{
  font-size:70px;
  line-height: 70px;
  width: 7em;
  color: #5555FF;
}
.language img{
  margin: 1em;
}
.sponsors{
  background-color: #55E3FF;
  padding: 5em

}
.sponsors h5{
      font-size: 24px;
      line-height: 20px;
      font-weight:100;
      color: #3E3C3C;
}
.sponsors div{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.sponsors img{
  width: 178px;
  height: 47px;
}
.bezlogo{
  background-color:  #5555FF;
  padding-top: 5em;
  padding-bottom: 8em;
}
.bezlogo img{
  margin-left: 10em;
}
@media screen and (max-width: 1400px){
  .aboutBezao{
    padding: 11em;
  }
  .aboutBezao h1{
    width: 80%;
    font-size: 67px;

  }
  .aboutBezao p{
    font-size: 13px;
  }
}
@media screen and (max-width: 1350px){
  body{
    overflow-x: hidden;
  }
  .motto img{
    height: 45em;
      width: 46em;
    }
  .itCovers{
    width: 55%;
  }
  .itCovers div{
    width: 65%;
  }
}
  @media screen and (max-width: 1300px) {
    .motto h1{
      font-size: 60px;
      line-height: 68px;
    }
    .motto p{
      width: 63%;
      margin: 2em 0;
    }
    .itCovers{
      width: 60%;
    }
    .aboutBezao h1{
      width: 87%;
      font-size: 69px;
      line-height: 70px;
      margin-right: 4em;
    }
  }
  @media screen and (max-width: 1250px) {
      .motto h1{
        font-size: 55px;
      }
      .motto img {
        height: 40em;
        width: 41em;
      }
      .motto p {
        width: 80%;
      }
      .aboutBezao{
        padding: 8em;
      }
      .aboutBezao h1{
        font-size: 65px;
      }
      .aboutBezao p{
        font-size: 12px;
      }
      .itCovers div{
        width: 63%;
      }
      .itCovers h2 {
        font-size: 45px;
      }
      .itCovers p {
        font-size: 14px;
      }
      .language h2{
        font-size: 65px;
      }
  }
  @media screen and (max-width: 1200px) {
    .heading{
      margin: 3em auto 3em auto;
    }
    .language{
      margin: 6em auto;
    }
    .language img{
      height: 8em;
      width: 7em;
    }
    .itCovers div{
      width: 60%;
    }
  }
  @media screen and (max-width: 1130px) {
    .itCovers div{
      width: 56%;
    }
    .itCovers h2{

    }
    .sponsors div{
      width: 90%;
    }
    .sponsors h5{
      font-size: 18px;
    }
  }
  @media screen and (max-width: 1090px) {
    .language{
      flex-direction: column;
      text-align: center;
    }
    .language h2{
      width: 14em;
    }
    .itCovers h2{
      font-size: 37px;
    }
    .itCovers p{
      font-size: 12px;
    }

  }
  @media screen and (max-width: 1020px) {
    .aboutBezao{
      flex-direction: column;
      text-align: center;
    }

    .aboutBezao p{
      margin-top: 2em;
    }
    .itCovers div{
      padding: 2em;
    }
  }
  @media screen and (max-width: 578px) {
    .motto img{
      height: 34em;
      width: 35em;
    }

  }
