body{
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.heading{
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 3em auto 5em auto;
}
.heading button{
  width: 72px;
  height: 23px;
  font-family: 'Roboto', sans-serif;
  border: 2px solid #5555FF;
  border-radius: 4px;
  width: 175px;
  height: 34px;
  background-color: white;
}

.motto{
  display: flex;
}
.motto img{
  height: 778px;
  width: 794px;
}
.catchPhrase{
  align-self: center;
}
.motto h1{
  font-size: 64px;
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
  line-height: 79px;
  font-style: normal;
  margin: 0;
}
.motto p{
  width: 70%;
  color: #9B9B9B;
  margin: 3em 0;
}
.motto button{
  color: white;
  background-color: #5555FF;
  border: none;
  border-radius: 4px;
  padding: 12px 53px;
  font-size: 10px;
}
.catch1{
  color: #EDEDFA;
}
.catch2{
  color: #55E3FF;
}
.catch3{
  color:  #5555FF;
}

.aboutBezao{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  /* margin-top: 6em; */
  padding: 13em;
}
.aboutBezao h1{
      width: 60%;
      font-size: 70px;
      line-height: 70px;
      color: #5555FF;
      margin: 0;
      margin-right: 6em;
}

.aboutBezao p{
  font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    line-height: 23px;
    width: 97%;
    margin: auto
}

.bezcontent{
  display: flex;

}
.bezcontent img{
  width: 800px;
  height: 534px;
}
.itCovers{
  background-color: #5555FF;
  color: white;
}
.itCovers div{
  width: 60%;
  margin: auto;
  padding: 7em;
}
.itCovers h2{
  font-size: 55px;
}

.itCovers button{
  color: #5555FF;
  background-color: white;
  padding: 12px 53px;
  font-size: 10px;
  border: none;
  border-radius: 4px
}

.language{
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 8em auto;
}
.language h2{
  font-size:70px;
  line-height: 70px;
  width: 7em;
  color: #5555FF;
}
.language img{
  margin: 1em;
}
.sponsors{
  background-color: #55E3FF;
  padding: 5em

}
.sponsors h5{
      font-size: 24px;
      line-height: 20px;
      font-weight:100;
      color: #3E3C3C;
}
.sponsors div{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.sponsors img{
  width: 178px;
  height: 47px;
}
.bezlogo{
  background-color:  #5555FF;
  padding-top: 5em;
  padding-bottom: 8em;
}
.bezlogo img{
  margin-left: 10em;
}
